{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Créer un compte{% endblock %}

{% block section %}
    <div class="-container mt-3">
    	<div class="row">
    		<div class="col-10 bg-white p-2 shadow-sm mx-auto">
                <div class="h3 text-center">Les offres d'emploi récemeent publié</div>
                <hr>
                <br>
    			<div class="row">
                {% for offre in offres %}
                    <div class="col-4 my-2">
                        <div class="card text-center">
                            <h4 class="card-header">
                                {{ offre.libelle }}
                            </h4>
                            <div class="card-body">
                                <p class="card-text" style="text-align: justify;">{{ offre.criteres }}</p><hr>
                                <p>Date de publication {{ offre.datePublication | date('d/m/y') }} </p><hr>
                                <p>Date d'expiration  {{ offre.dateExpiration | date('d/m/y') }}</p>
                                <a href="{{ path('offre_apply', {'id': offre.id}) }}" class="btn btn-block btn-primary">Postuler</a>
                            </div>
                            <div class="card-footer text-muted">
                                DGRAD
                            </div>
					    </div>
                    </div>
                {% else %}
                    Il ya aucune offre valide pour le moment         
                {% endfor %}         
                </div>
    		</div>
    	</div>
    </div>
{% endblock %}
