<nav class="navbar navbar-expand navbar-light bg-dark fixed-top-" style="-background-color: #e44d3a;">
	<div class="container">
		<a class="navbar-brand font-weight-bold" href="/" style="color: red; font-size: 25px;">
				{# <img src="{{ asset('cdn/images/logo.png') }}" width="150" height="45" alt=""> #}
				DGRAD
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<ul class="navbar-nav" id="navbar">
			<li class="nav-item mx-2 text-center"><a href="{{ path('home')}}" class="nav-link border-right-">Acceuil</a></li>
			<li class="nav-item mx-2 text-center"><a href="{{ path('offres')}}" class="nav-link border-right-">Offres d'emploie</a></li>
			<li class="nav-item mx-2 text-center"><a href="{{ path('contact')}}" class="nav-link border-right-">Nous contacter</a></li>
			<li class="nav-item mx-2 text-center"><a href="{{ path('about')}}" class="nav-link border-right-">A propos</a></li>
			{% if app.user %}
				<li class="nav-item mx-2 text-center"><a href="{{ path('easyadmin')}}" class="nav-link border-right-">Administration</a></li>
				<li class="nav-item mx-2 text-center"><a href="{{ path('app_logout')}}" class="nav-link border-right-">Déconnexion</a></li>
			{% else %}
				<li class="nav-item mx-2 text-center"><a href="{{ path('app_login')}}" class="nav-link border-right-">Se connecter</a></li>
			{% endif %}
			{# <li class="nav-item mx-2 text-center"><a href="{{ path('about_plus')}}" class="nav-link border-right-">En savoir plus</a></li> #}
		</ul>
	</div>
</nav>